<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.DataInsert">
<insert id="insertList" parameterType="BoardDto">
insert into chefRecipe (ATT_FILE_NO_MAIN,
RCP_NM,
RCP_PARTS_DTLS,
RCP_WAY2,
MANUAL_IMG20,
MANUAL20,
INFO_NA,
INFO_WGT,
INFO_PRO,
MANUAL_IMG13,
MANUAL_IMG14,
MANUAL_IMG15,
MANUAL_IMG16,
MANUAL_IMG10,
MANUAL_IMG11,
MANUAL_IMG12,
MANUAL_IMG17,
MANUAL_IMG18,
MANUAL_IMG19,
INFO_FAT,
HASH_TAG,
MANUAL_IMG02,
MANUAL_IMG03,
RCP_PAT2,
MANUAL_IMG04,
MANUAL_IMG05,
MANUAL_IMG01,
MANUAL01,
ATT_FILE_NO_MK,
MANUAL_IMG06,
MANUAL_IMG07,
MANUAL_IMG08,
MANUAL_IMG09,
MANUAL08,
MANUAL09,
MANUAL06,
MANUAL07,
MANUAL04,
MANUAL05,
MANUAL02,
MANUAL03,
MANUAL11,
MANUAL12,
MANUAL10,
INFO_CAR,
MANUAL19,
RCP_NA_TIP,
INFO_ENG,
MANUAL17,
MANUAL18,
MANUAL15,
MANUAL16,
MANUAL13,
MANUAL14)
 values (#{ATT_FILE_NO_MAIN}, #{RCP_NM}, #{RCP_PARTS_DTLS}, #{RCP_WAY2}, #{MANUAL_IMG20}, #{MANUAL20}, #{INFO_NA}, #{INFO_WGT}, #{INFO_PRO}, #{MANUAL_IMG13}, #{MANUAL_IMG14}, #{MANUAL_IMG15}, #{MANUAL_IMG16}, #{MANUAL_IMG10}, #{MANUAL_IMG11}, #{MANUAL_IMG12}, #{MANUAL_IMG17}, #{MANUAL_IMG18}, #{MANUAL_IMG19}, #{INFO_FAT}, #{HASH_TAG}, #{MANUAL_IMG02}, #{MANUAL_IMG03}, #{RCP_PAT2}, #{MANUAL_IMG04}, #{MANUAL_IMG05}, #{MANUAL_IMG01}, #{MANUAL01}, #{ATT_FILE_NO_MK}, #{MANUAL_IMG06}, #{MANUAL_IMG07}, #{MANUAL_IMG08}, #{MANUAL_IMG09}, #{MANUAL08}, #{MANUAL09}, #{MANUAL06}, #{MANUAL07}, #{MANUAL04}, #{MANUAL05}, #{MANUAL02}, #{MANUAL03}, #{MANUAL11}, #{MANUAL12}, #{MANUAL10}, #{INFO_CAR}, #{MANUAL19}, #{RCP_NA_TIP}, #{INFO_ENG}, #{MANUAL17}, #{MANUAL18}, #{MANUAL15}, #{MANUAL16}, #{MANUAL13}, #{MANUAL14})
</insert>
</mapper>