<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.BoardListInter">
    <select id="getProChefRecipeList" resultType="BoardDto">
        select ridx,readcount,is_professional,ATT_FILE_NO_MAIN,RCP_NM,INFO_ENG from chefRecipe order by rand() limit 7
    </select>
    <select id="getUserRecipeList" resultType="UserRecipeDto">
        select * from recipes order by rand() limit 1
    </select>
</mapper>
