<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.MyPageInter">
<select id="getMyProReviews" parameterType="String" resultType="BoardDto">
    SELECT
        c.*,(select rating from recipe_reviews where user_id=#{user_id}) as rating,(select comment from recipe_reviews where user_id=#{user_id}) as comment
    FROM
        chefRecipe c
    WHERE
        c.ridx IN (
            SELECT
                r.ridx
            FROM
                recipe_reviews r
            WHERE
                r.user_id = #{user_id}
        )
</select>
    <select id="getMyUserReviews" parameterType="String" resultType="UserRecipeDto">
        select r.* from recipes r where r.recipe_id in(select r.recipe_id from recipe_reviews c where c.user_id=#{user_id})
    </select>
<select id="getMyProFavorites" parameterType="String" resultType="BoardDto">
    select * from chefRecipe c where c.ridx in(select f.ridx from favorites f where f.user_id = #{user_id})
</select>


</mapper>